<?xml version="1.0" encoding="UTF-8"?>
<web-app> xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>first-web-project</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name> Store Management </servlet-name>
    <servlet-class>org.first.controller.store.StoreManagement</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Management </servlet-name>
    <url-pattern>/storeManagement</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Create </servlet-name>
    <servlet-class>org.first.controller.store.StoreCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Create </servlet-name>
    <url-pattern>/storeCreate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store List </servlet-name>
    <servlet-class>org.first.controller.store.StoreList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store List </servlet-name>
    <url-pattern>/storeList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Details </servlet-name>
    <servlet-class>org.first.controller.store.StoreDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Details </servlet-name>
    <url-pattern>/storeDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Update </servlet-name>
    <servlet-class>org.first.controller.store.StoreUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Update </servlet-name>
    <url-pattern>/storeUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Delete </servlet-name>
    <servlet-class>org.first.controller.store.StoreDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Delete </servlet-name>
    <url-pattern>/storeDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Create Teachers </servlet-name>
    <servlet-class>org.first.controller.teacher.TeacherCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Create Teachers </servlet-name>
    <url-pattern>/create-teachers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Teachers Details </servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Teachers Details </servlet-name>
    <url-pattern>/teachers-details</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeachersList</servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TeachersList</servlet-name>
    <url-pattern>/teachers-list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeachersUpdate</servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TeachersUpdate</servlet-name>
    <url-pattern>/teachersUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeachersDelete</servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TeachersDelete</servlet-name>
    <url-pattern>/teachersDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StudentsList</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StudentsList</servlet-name>
    <url-pattern>/studentList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StudentsUpdate</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StudentsUpdate</servlet-name>
    <url-pattern>/studentsUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>studentDetails</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentDetails</servlet-name>
    <url-pattern>/studentDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>studentDelete</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentDelete</servlet-name>
    <url-pattern>/studentsDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateStudent </servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.CreateStudent</servlet-class>
  </servlet>>
  <servlet-mapping>
    <servlet-name>CreateStudent</servlet-name>
    <url-pattern>/create-student</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>studentReg</servlet-name>
    <servlet-class>org.first.web.student.StudentController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentReg</servlet-name>
    <url-pattern>/studentRegisteration</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>org.first.web.FirstServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>org.first.web.SecondServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>org.first.web.ThirdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>org.first.web.FormServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>


</web-app>