<?xml version="1.0" encoding="UTF-8"?>
<web-app> xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>first-web-project</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name> User2 Create </servlet-name>
    <servlet-class>org.first.controller.user2.User2Create</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> User2 Create </servlet-name>
    <url-pattern>/user2Create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> User2 List </servlet-name>
    <servlet-class>org.first.controller.user2.User2List</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> User2 List </servlet-name>
    <url-pattern>/user2List</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> User2 Delete </servlet-name>
    <servlet-class>org.first.controller.user2.User2Delete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> User2 Delete </servlet-name>
    <url-pattern>/user2Delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> User2 Update </servlet-name>
    <servlet-class>org.first.controller.user2.User2Update</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> User2 Update </servlet-name>
    <url-pattern>/user2Update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> User2 Details </servlet-name>
    <servlet-class>org.first.controller.user2.User2Details</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> User2 Details </servlet-name>
    <url-pattern>/user2Details</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Car Create </servlet-name>
    <servlet-class>org.first.controller.car.CarCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Car Create </servlet-name>
    <url-pattern>/carCreate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Car List </servlet-name>
    <servlet-class>org.first.controller.car.CarList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Car List </servlet-name>
    <url-pattern>/carList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Car Update </servlet-name>
    <servlet-class>org.first.controller.car.CarUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Car Update </servlet-name>
    <url-pattern>/carUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Car Details </servlet-name>
    <servlet-class>org.first.controller.car.CarDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Car Details </servlet-name>
    <url-pattern>/carDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Car Delete </servlet-name>
    <servlet-class>org.first.controller.car.CarDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Car Delete </servlet-name>
    <url-pattern>/carDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Company Create </servlet-name>
    <servlet-class>org.first.controller.company.CompanyCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Company Create </servlet-name>
    <url-pattern>/companyCreate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Company List </servlet-name>
    <servlet-class>org.first.controller.company.CompanyList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Company List </servlet-name>
    <url-pattern>/companyList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Company Update </servlet-name>
    <servlet-class>org.first.controller.company.CompanyUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Company Update </servlet-name>
    <url-pattern>/companyUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Company Details </servlet-name>
    <servlet-class>org.first.controller.company.CompanyDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Company Details </servlet-name>
    <url-pattern>/companyDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Company Delete </servlet-name>
    <servlet-class>org.first.controller.company.CompanyDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Company Delete </servlet-name>
    <url-pattern>/companyDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Community Create </servlet-name>
    <servlet-class>org.first.controller.community.CommunityCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Community Create </servlet-name>
    <url-pattern>/communityCreate</url-pattern>
  </servlet-mapping>
  <servlet>

    <servlet-name> Community List </servlet-name>
    <servlet-class>org.first.controller.community.CommunityList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Community List </servlet-name>
    <url-pattern>/communityList</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name> Community Update </servlet-name>
  <servlet-class>org.first.controller.community.CommunityUpdate</servlet-class>
  </servlet>

   <servlet-mapping>
    <servlet-name> Community Update </servlet-name>
    <url-pattern>/communityUpdate</url-pattern>
   </servlet-mapping>

  <servlet>
    <servlet-name> Community Delete </servlet-name>
    <servlet-class>org.first.controller.community.CommunityDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Community Delete </servlet-name>
    <url-pattern>/communityDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Community Details </servlet-name>
    <servlet-class>org.first.controller.community.CommunityDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Community Details </servlet-name>
    <url-pattern>/communityDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Employees Create </servlet-name>
    <servlet-class>org.first.controller.employees.EmployeesCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Employees Create </servlet-name>
    <url-pattern>/employeesCreate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Employees List </servlet-name>
    <servlet-class>org.first.controller.employees.EmployeesList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Employees List </servlet-name>
    <url-pattern>/employeesList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Employees Update </servlet-name>
    <servlet-class>org.first.controller.employees.EmployeesUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Employees Update </servlet-name>
    <url-pattern>/employeesUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Employees Details </servlet-name>
    <servlet-class>org.first.controller.employees.EmployeesDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Employees Details </servlet-name>
    <url-pattern>/employeesDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Employees Delete </servlet-name>
    <servlet-class>org.first.controller.employees.EmployeesDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Employees Delete </servlet-name>
    <url-pattern>/employeesDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> City Management </servlet-name>
    <servlet-class>org.first.controller.city.CityList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> City Management </servlet-name>
    <url-pattern>/cityManagement</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> City Create </servlet-name>
    <servlet-class>org.first.controller.city.CityCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> City Create </servlet-name>
    <url-pattern>/cityCreate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> City List </servlet-name>
    <servlet-class>org.first.controller.city.CityList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> City List </servlet-name>
    <url-pattern>/cityList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> City Update </servlet-name>
    <servlet-class>org.first.controller.city.CityUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> City Update </servlet-name>
    <url-pattern>/cityUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> City Details </servlet-name>
    <servlet-class>org.first.controller.city.CityDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> City Details </servlet-name>
    <url-pattern>/cityDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> City Delete </servlet-name>
    <servlet-class>org.first.controller.city.CityDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> City Delete </servlet-name>
    <url-pattern>/cityDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Management </servlet-name>
    <servlet-class>org.first.controller.store.StoreManagement</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Management </servlet-name>
    <url-pattern>/storeManagement</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Create </servlet-name>
    <servlet-class>org.first.controller.store.StoreCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Create </servlet-name>
    <url-pattern>/storeCreate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store List </servlet-name>
    <servlet-class>org.first.controller.store.StoreList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store List </servlet-name>
    <url-pattern>/storeList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Details </servlet-name>
    <servlet-class>org.first.controller.store.StoreDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Details </servlet-name>
    <url-pattern>/storeDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Update </servlet-name>
    <servlet-class>org.first.controller.store.StoreUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Update </servlet-name>
    <url-pattern>/storeUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Store Delete </servlet-name>
    <servlet-class>org.first.controller.store.StoreDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Store Delete </servlet-name>
    <url-pattern>/storeDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Create Teachers </servlet-name>
    <servlet-class>org.first.controller.teacher.TeacherCreate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Create Teachers </servlet-name>
    <url-pattern>/create-teachers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name> Teachers Details </servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name> Teachers Details </servlet-name>
    <url-pattern>/teachers-details</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeachersList</servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersList</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TeachersList</servlet-name>
    <url-pattern>/teachers-list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeachersUpdate</servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TeachersUpdate</servlet-name>
    <url-pattern>/teachersUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TeachersDelete</servlet-name>
    <servlet-class>org.first.controller.teacher.TeachersDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TeachersDelete</servlet-name>
    <url-pattern>/teachersDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StudentsList</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StudentsList</servlet-name>
    <url-pattern>/studentList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StudentsUpdate</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StudentsUpdate</servlet-name>
    <url-pattern>/studentsUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>studentDetails</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentDetails</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentDetails</servlet-name>
    <url-pattern>/studentDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>studentDelete</servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.StudentDelete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentDelete</servlet-name>
    <url-pattern>/studentsDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateStudent </servlet-name>
    <servlet-class>org.first.web.studentManagement.Controller.CreateStudent</servlet-class>
  </servlet>>
  <servlet-mapping>
    <servlet-name>CreateStudent</servlet-name>
    <url-pattern>/create-student</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>studentReg</servlet-name>
    <servlet-class>org.first.web.student.StudentController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentReg</servlet-name>
    <url-pattern>/studentRegisteration</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>org.first.web.FirstServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>org.first.web.SecondServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>org.first.web.ThirdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>org.first.web.FormServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>


</web-app>